 <h3>Famous User/Users around here: </h3><br /><br /><br />
 <h3 id="lime"><%= link_to @famous_user.name, user_path(@famous_user) %> with the profile view of <%= @views %> </h3>
 <h1 id="brown">Congrats to Ben!!!!</h1>
