<h1>Existing Users List</h1><br /><br >
<% @users.each do |user| %>

    <%= link_to user.name, user_path(user) %>&nbsp;&nbsp;&nbsp;

<% end %>

<br /><br />
<h5>Are you the famous user around here? Click <%= link_to "here", users_famous_user_path %> to check</h5>
